{% extends "pybursa/base.html" %}
{% load static %}


{% block nav %}
  <li class="active"><a href="/students/">Students</a></li>
  <li {# class="active" #}><a href="/courses/">Courses</a></li>
  <li {# class="active" #}><a href="/coaches/">Coaches</a></li>
  <li {# class="active" #}><a href="/address/">Address</a></li>
{% endblock nav %}


{% block content %}
    <div class="container">
        <h1>PyBursa Students list</h1>
        <ul class="list-group">
            {% for student in students %}
            <li class="list-group-item">
                <a href="{% url 'student_item' student.id %}">
                    {{ student.surname }} {{ student.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}


