{% extends "pybursa/base.html" %}
{% load static %}


{% block nav %}
  <li {# class="active" #}><a href="/students/">Students</a></li>
  <li class="active"><a href="/courses/">Courses</a></li>
  <li {# class="active" #}><a href="/coaches/">Coaches</a></li>
  <li {# class="active" #}><a href="/address/">Address</a></li>
{% endblock nav %}



{% block content %}
  <div class="container">
      <h1>PyBursa Students list</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Название</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
          </tr>
        </thead>
        <tbody>
          {% for course in courses %}
          <tr>
            <td>{{ course.id }}</td>
            <td>
                <a href="{% url 'courses_item' course.id %}">
                  {{ course.name }}
              </a>
            </td>
            <td>{{ course.start_date }}</td>
            <td>{{ course.end_date }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
{% endblock content %}          

