{% extends "pybursa/base.html" %}
{% load static %}


{% block nav %}
  <li {# class="active" #}><a href="/students/">Students</a></li>
  <li {# class="active" #}><a href="/courses/">Courses</a></li>
  <li class="active"><a href="/coaches/">Coaches</a></li>
  <li {# class="active" #}><a href="/address/">Address</a></li>
{% endblock nav %}



{% block content %}
    <div class="container">
        <h1>PyBursa Coaches list</h1>
        <ul class="list-unstyled">
            {% for coach in coaches %}
            <li class="list-group-item">
                {{coach.id}}
                <a href="{% url 'coaches_item' coach.id %}">
                    {{ coach.surname }} {{ coach.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}