{% extends "address/list.html" %}
{% load static %}


{% block content %}
    <div class="container">
      <h1>Address of {{ course.name }} </h1>
      <h3>Метод запроса: {{ method }} </h3>
      <ul class="list-group">
        <li class="list-group-item">Country: {{ address.country }}</li>
        <li class="list-group-item">Index: {{ address.post_index}}</li>
        <li class="list-group-item">Region: {{ address.region }}</li>
        <li class="list-group-item">District: {{ address.district }}</li>
        <li class="list-group-item">Street: {{ address.street }}</li>
        <li class="list-group-item">House: {{ address.house }}</li>
      </ul>
    </div>
{% endblock content %}

