{% extends "pybursa/base.html" %}
{% load static %}


{% block nav %}
  <li {# class="active" #}><a href="{% url 'students_list' %}">Students</a></li>
  <li {# class="active" #}><a href="/courses/">Courses</a></li>
  <li {# class="active" #}><a href="/coaches/">Coaches</a></li>
  <li class="active"><a href="/address/">Address</a></li>
{% endblock nav %}


{% block content %}
    <div class="container">
        <h1>IT Bursa Adresses list</h1>
        <ul class="list-group">
            {% for address in addresses %}
                {% if address.course_venue.all %}
                    {% for course in address.course_venue.all %}
                        <li class="list-group-item">
                            <a href="{% url 'course_address' address.id %}">
                                {{ course.name }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock content %}